tr {
  border-bottom: 1px solid gray;
}
 
td {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f7E09E;
}

/* td {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
} */

.red {
  color: red;
}

.green {
  color: green;
}

.rank-data {
  color: black;
}