.welcome-card {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 6rem;
  background-color: #EDE5A6;
}

.welcome-button {
  align-self: center;
  margin: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}