header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #498467;
  width: 90%;
  margin-bottom: 1.5rem;
}

nav {
  align-self: center;
}

nav button {
  padding: 0.7rem 1.5rem;
  margin: 10px;
  border-radius: 10px;
}

.header-container {
  display: flex;
  flex-direction: row;
  color: white;
  padding-left: 2rem;
}

.header-title {
  font-size: 3rem;
  padding-left: 1rem;

}

.logo {
  width: 5rem;
  padding-top: 1rem;
}