.selected-card {
  display: flex;
  flex-direction: column;
  width: 70%;
  background-color: #EDE5A6;
  border-radius: 0.4rem;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.15);
  border: 1px dotted black;
}

.selected-button {
  width: 15%;
  align-self: center;
  margin: 2rem;
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.detailed-card-heading {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
}

.fav-button {
  position: absolute;
  right: 1%;
  top: 20%;
}

.card-title {
  text-decoration: underline;
  font-size: 2rem;
}

.red2 {
  background-color: red;
}

.green2 {
  background-color: green;
}

h3 {
  text-decoration: underline;
}

.detailed-column-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
}

.detailed-column {
  width: 50%;
}

.left-column {
  border-right: 2px solid black;
}

.access-exchanges {
  font-style: italic;
  margin-bottom: 0rem;
}